.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-image {
  grid-column: 1 / 8;
  grid-row: 1;
}

.grid-text {
  grid-column: 7 / -1;
  grid-row: 1;
}

.grid-image-reverse {
  grid-column: 6 / -1;
  grid-row: 1;
}

.grid-text-reverse {
  grid-column: 1 / 7;
  grid-row: 1;
}
