.fancy {
	width: fit-content;

	.letter {
		display: inline-block;
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		.letter {
			color: red !important;
			position: relative;
			transition: 0.4s ease;

			&:hover {
				transform: scale(1.2);
			}

			&:nth-child(1) {
				transform: translate(-2%, -60%) rotate(12deg);
			}

			&:nth-child(2) {
				transform: translate(8%, -32%) rotate(10deg);
			}

			&:nth-child(3) {
				transform: translate(8%, 32%) rotate(-8deg);
			}

			&:nth-child(4) {
				transform: translate(4%, 8%) rotate(2deg);
			}

			&:nth-child(5) {
				transform: translate(4%, -12%) rotate(-12deg);
			}

			&:nth-child(6) {
				transform: translate(12%, -2%) rotate(-12deg);
			}

			&:nth-child(7) {
				transform: translate(12%, -2%) rotate(12deg);
			}

			&:nth-child(8) {
				transform: translate(4%, -8%) rotate(12deg);
			}

			&:nth-child(9) {
				transform: translate(12%, -16%) rotate(12deg);
			}

			&:nth-child(10) {
				transform: translate(16%, 4%) rotate(24deg);
			}
		}
	}
}
