main {
	transition: all 0.5s ease 0s;
	position: relative;
}

main.menu-open {
	transform: translate3d(0, 0, -400px);
	transform-style: preserve-3d;
	transform-origin: 100% center;
	transition: all 0.5s ease 0s;
	filter: blur(5px);
}

.outer-container {
	position: relative;
	perspective: 1500px;
	z-index: 1;
	overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
	main.menu-open {
		transform: translate3d(100px, 0, -400px);
	}
}
